# currently only used for docker
RUBY_VERSION="3.1.2"
NODE_VERSION="24"
YARN_VERSION="1.22.22"
RAILS_ENV="experiment"
REMOTE_OTLP_ENDPOINT=
# specific env for compose.deploy
SITE_ADDRESS="myapp.local"
# additional env (you might want to run it outside this file)
# DOCKER_GID=$(getent group docker | cut -d: -f3)
